/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Community Select */

.combox {
    margin-top: 200px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.comtit {
    font-size: 1.4em;
    line-height: 1.4em;
    float: left;
    margin-right:20px;
    margin-top:5px;
}
.comsel {
    width: 150px;
    height: 20px;
}
.caret {
    float: right;
}
.commhighlight option:hover  {
    background-color: #9b1d1d;
}
.update {
    position: relative;
    bottom: 5px;
}