<div class="footborder">
      <div class="footlinks">
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Help", help_path %>
      </div>

      <div class="copyright"> © Liveboard 2012 </div>
</div>